header {
    margin: 10px 20px 0px 20px;
    background-color: #101828;
    border-radius: 1rem;
    gap: 0.27rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .1rem solid #242f3f;
    height: 40px;
    padding: 0 10px;
    position: relative;
    .logo {

    }
    .menu {
        ul{
            list-style: none;
        }
    }
}

$gradienTXT: linear-gradient(to right, #c6d2ff 65%, #ffffff);
$gradienTXTmini: linear-gradient(90deg, #615fff, #c6d2ff);

.titleText {
    background: $gradienTXT;
    color: #0000;
    background-clip: text;
}
.titleData {
    color: #0000;
    background: $gradienTXTmini;
    background-clip: text;
}

.mb15 {margin-bottom: 15px}
.mb25 {margin-bottom: 25px}
.mb50 {margin-bottom: 50px}
.mt20 {margin-top: 20px}
.mt50 {margin-top: 50px}

main {
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    section {
        max-width: 90%;
        margin: auto;
        text-align: center;
        .s2Title{
            &:before, &:after {
                content: "";
                display: inline-block;
                width: 30px;
                height: 1px;
                margin-bottom: 5px;
            }
            &:before {
                background: linear-gradient(90deg, #000000, #ffffff 69%, #00000038 0%);
            }
            &:after {
                background: linear-gradient(90deg, #ffffff00 16%, rgb(255 255 255) 0, #000000 90%);
            }
        }
        .blocks {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 25px;
            >article.big {
                background-color: #101828;
                border-radius: 1rem;
                width: 30%;
                border: .1rem solid #242f3f;
                padding: 10px;
                position: relative;
                cursor: pointer;
                min-width: 325px;
                text-align: left;
                height: 500px;

                display: flex;
                flex-flow: column;
                justify-content: end;
                .blockBadge {
                    border: .1rem solid #242f3f;
                    border-radius: 1rem;
                    padding: 3px 8px;
                }
            }
            >article.mini {
                width: 30%;
                text-align: left;
                >svg {
                    color: #615fff;
                }
            }
        }
    }

}

footer {
    border-top: .1rem solid #242f3f;
    height: 210px;
    padding-top: 25px;
    .footer {

        display: flex;
        flex-wrap: wrap;
        max-width: 90%;
        margin:auto;
        justify-content: space-around;
        ul {
            list-style: none;
            a {
                font-weight: 400;
            }
        }
    }
}


